<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body onload="initPostsApp()">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/#">myStory</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">View Posts<span class="sr-only">(current)</span></a>
            </li>
            <!--TODO: Have this hide and show correctly based on user log-in status-->
            <li class="nav-item">
                <a class="nav-link" href="/timeline">View Your Posts</a>
            </li>
        </ul>
        <span>
            <!--TODO: Have these hide and show correctly based on user log-in status-->
            <button class="btn btn-outline-secondary" type="button"
                onclick="window.location.href='logout'">Logout
            </button>
            <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='createPost'">Submit Post</button>
        </span>
    </div>
</nav>
<div class="offline_div" id="offline_div" style="display: none">You are offline</div>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/#">myStory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">View Posts<span class="sr-only">(current)</span></a>
                </li>
                <!--TODO: Have this hide and show correctly based on user log-in status-->
                <li class="nav-item">
                    <a class="nav-link" href="/timeline">View Your Posts</a>
                </li>
            </ul>
            <span>
              <!--TODO: Have these hide and show correctly based on user log-in status-->
              <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='logout'">Logout</button>
              <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='createPost'">Submit Post</button>
            </span>
        </div>
    </nav>
    <div class="offline_div" id="offline_div" style="display: none">You are offline</div>
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Order by
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" type="button">Date</button>
                <button class="dropdown-item" type="button">Recommended</button>
            </div>
        </div>
        <br>
        <% allStories %>
        <!----------------
              FIXME: To allow stories to be liked/edited we need to be able to retrieve the IDs associated with each story
               These will then be used to amend the "id" attribute of the card tags
               timeline.js is already set up to identify stories based on the ID of the card (to be edited slightly for index.js)
           ------------------>
        <% for(let i = (allStories.length - 1); i > 0; i--) { %>
            <div class="card body-card" id="<%= allStories[i]._id %>">
                <div class="card-header">
                    <div class="" id="profileImage">
                        <img src="<%= profileSource %>" alt="Profile Image" width="10%" height="100%"
                             class="img-fluid rounded float-left" id="profileImage">
                        <div id="userName">
                            <% if((allStories[i].user_id) === undefined) { %>
                                Unknown User
                            <% } else { %>
                                <%= allStories.user_id[i]; %>
                            <% } %>

                        </div>
                        <div id="timePosted" style="padding-top: 10px;">
                            <%= allStories[i].date %>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="storyText" id="textID1"><%= allStories[i].text %></p>
                    <div id="results"></div>
                    <div class="row">
                        <!----------------
                           TODO: The src of these img tags needs to be fixed to display images properly
                            The arg parsed from JS is the buffer from the DB,
                            I am unsure how this is encoded/how to use it to create an image
                        ------------------>
                        <% if(typeof (allStories[i].image) === 'string' || allStories[i].image instanceof String) { %>
                            <div class="col-md-4">
                                <img src="data:image/jpeg;base64,  <%= allStories[i].image.toString('base64'); %>"
                                     alt="inn_logo" class="img-fluid">
                            </div>
                        <% } else { %>
                            <div class="col-md-<%= (12 / allStories[i].image.length) %>">
                                <img src="data:image/jpeg;base64,  <%= allStories[i].image.toString('base64'); %>"
                                     alt="inn_logo" class="img-fluid">
                            </div>
                            <div class="col-md-<%= (12 / allStories[i].image.length) %>">
                                <img src="data:image/jpeg;base64,  <%= allStories[i].image.toString('base64'); %>"
                                     alt="inn_logo" class="img-fluid">
                            </div>
                        <% } %>
                        <% if(allStories[i].image.length == 3){ %>
                            <div class="col-md-<%= (12 / allStories[i].image.length) %>">
                                <img src="data:image/jpeg;base64,  <%= allStories[i].image.toString('base64'); %>"
                                     alt="inn_logo" class="img-fluid">
                            </div>
                        <% } %>
                    </div>

                </div>
                <div class="card-footer">
                    This area should be used to allow users to like posts (not implemented yet)
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>
